.lw-blog-card .card-dark { background: var(--ash-700); color: var(--salmon-200); padding: 16px; border-radius: 16px; }
.lw-blog-card:hover .card-dark { background: var(--salmon-200); color: var(--ash-700) !important; }
.lw-blog-card .card-dark .lw-tags { display: flex; gap: 8px; justify-content: flex-end; flex-wrap: wrap; overflow: hidden; }
.lw-blog-card .card-dark .lw-tag { font-size: 12px; border-radius: 24px; padding: 8px 16px; white-space: nowrap; line-height: 1; background: var(--salmon-200); color: var(--ash-700); }
.lw-blog-card:hover .card-dark .lw-tag { background: var(--ash-700); color: var(--brand-color); }
.lw-blog-card .card-dark .learnworlds-image { width: calc(100% - 32px); margin: 8px auto; border-radius: 8px; }
