.card-list { width: 100%; min-height: 220px; border: 2px solid var(--black); border-radius: var(--radius); flex-direction: row; }
.card-list .row-section { flex: 1; padding: 24px; display: flex; flex-direction: column; justify-content: space-between; gap: 32px; text-align: left; }
.card-list .row-title-box { background-color: var(--black); border-radius: var(--radius-int) 0 0 var(--radius-int); flex: 0 0 35%; position: relative; color: var(--blog-color-bg) !important; }
.card-list:hover .row-title-box { background-color: var(--blog-color); color: var(--black) !important; }
.card-list .row-info-box { background-color: var(--blog-color); flex: 0 0 40%; }
.card-list:hover .row-info-box { background-color: var(--black); color: var(--blog-color-bg); }
.card-list .row-image-box { flex: 0 0 25%; background-size: cover; background-position: center; position: relative; border-radius: 0 var(--radius-int) var(--radius-int) 0; }
.card-list .js-learnworlds-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: var(--blog-color); mix-blend-mode: multiply; pointer-events: none; }
@media (max-width: 991px) {
    .card-list { flex-direction: column; }
    .card-list .row-section { flex: none; width: 100%; }
    .card-list .row-title-box { border-radius: var(--radius-int) var(--radius-int) 0 0; }
    .card-list .row-image-box { height: 200px; border-radius: 0 0 var(--radius-int) var(--radius-int); }
}
